*{
    margin: 0px;
    padding: 0px;
    border: none;
}

.background-dark-gray{
    background-color: #333331;
}

.background-light-gray{
    background-color: #666666;
}

.background-color-orang{
    color: #fff;
    background-color: #e89535;
}

.color-orang{
    color: #e89535;
}

.color{
    color: #fff;
}

.border-orande{
    border-radius: 10px;
    border: #666666 1px solid;
}

.border-orande:hover{
    border: #e89535 solid 1px;
}

.font-size-big{
    font-size: 17px;
}

.box-pading{
    padding: 30px 0px;
}

.padding-orang{
    margin: 30px 0px 30px 0px;
    padding: 1px 20px 2px 20px;
}

.padding-left-right{
    padding: 0px 50px;
}

.padding-bootom{
    padding-bottom: 30px;
}

.padding-top{
    padding-top: 20px;
}

.padding-left-right-15{
    padding: 0px 15px;
}

.margin-bottom{
    margin-bottom: 20px;
}

.min-heigh-title{
    min-height: 66px;
}

.image-col{
    height: 158px;
    margin: auto;
    width: 33.3%;
}

.image-col img{
    width: 100%;
    height: 100%;
}

.inline{
    display: inline-block;
}

.margin-10{
    margin-right: -30px;
}

.navbar {
    border-radius: 0px !important;
    border: none !important;
    margin-bottom: 0px !important;
}
.navbar-header {
    padding: 20px 0px;
}


.my-style-nav-li{
    padding: 10px 0px;
}

.navbar-nav>li>a {
    padding-top: 0px;
    padding-bottom: 0px;
}

.nav>li>a {
    padding: 0px 27px !important;
}

.nav>li {
    font-size: 17px;
}

.navbar-nav {
    padding: 25px 0px;
}


.navbar-brand{
    padding: 0px !important;
}

.navbar-brand img{
    width: 100%;
    height: 100%;
}

.dropdown-toggle{
    width: 250px;
    font-size: 13px;
}

.dropdown, .dropup {
    padding-left: 30px;
}

.my-style-caret{
    right: -1px;
    top: 10px;
    position: absolute;
    height: 10px;
    width: 25px;
}

.my-style-caret img{
    height: 100%;
    width: 100%;
}

.my-style-location img{
    width: 100%;
    height: 100%;
}

.my-style-location{
    position: absolute;
    height: 35px;
    width: 25px;
    left: -20px;
}

.dropdown-menu> li {
    display: inline-block;
}

.dropdown-menu>li>a:hover{
    text-decoration: none;
    background-color: #222 !important;
}

.navbar-nav>li>.dropdown-menu {
    background-color:#222;
}

.navbar-inverse .navbar-nav>.open>a, .navbar-inverse .navbar-nav>.open>a:focus{
    background-color: #222 !important;
}

.dropdown-menu>li>a {
    padding: 8px 0px !important ;
    margin: 0px 5px;
    border-bottom: dashed #f0ad4e;
    color: #f0ad4e!important;
    background-color: #222;
}

.header-wrap{
    background-image: url(../image/main.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

.background-color{
    background-color: rgb(0 0 0 / 42%);
}


.logo-col{
    width: 25%;
    height: 100px;
    margin: 20px 0px;
    padding-left: 0px !important;
}

.logo-col img{
    padding: 8px 29px;
    width: 100%;
    height: 100%;
    opacity: 0.7;
}

.logo-col-padding img{
    padding: 20px 29px;
}

.main-title{
    text-transform: uppercase;
    font-size: 45px;
    color: #fff;
    margin-top: 135px;
}

.background-color-with-buttom{
    margin-top: 135px;
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.521);
}

.my-style-btn{
    width: 100%;
    padding: 15px 20px;
    border-radius: 20px;
    margin: 5px 0px;
}

.modal-window-blok{
    margin-bottom: 20px;
}

.my-style-buttom-group{
    margin: auto;
    width: 80%;
}

.box-button{
    width: 55%;
    margin: auto;
}

.bloc-record-player{
    position: relative;
}

.bloc-img-small-play-shadow{
    width: 80px;
    height: 70px;
    display: inline-block;
}

.bloc-img-small-play{
    position: absolute;
    width: 40px;
    height: 40px;
    top: 15px;
    left: 25px;
}

.bloc-img-small-play-shadow img{
    width: 100%;
    height: 100%;
}

.bloc-img-small-play img{
    width: 100%;
    height: 100%;
}

.bloc-record-player h3{
    padding: 0px 20px;
    color: #fff;
}

.my-style-buttom{
    border: none;
    background-color: rgba(0, 0, 0, 0);
}

.bloc-img-small-title{
    display: inline-block;
}

.modal-body img{
    width: 100%;
    height: 100%;
}

.custom-select {
    position: relative;
}

.custom-select select {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    width: 100%;
    /* padding: 10px; */
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #fff;
    cursor: pointer;
}

.custom-select::after {
    content: '▼';
    font-size: 20px;
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    background-color: orange;
    color: #222;
    padding: 3px;
    border-radius: 0 4px 4px 0;
    pointer-events: none;
}

.custom-input {
    position: relative;
}

.custom-input div{
    height: 40px;
    width: 40px;
    display: inline-block;
}
  
.custom-input input[type="text"] {
    padding: 8px;
    width: 200px; 
}

.custom-input img{
    width: 100%;
}

.custom-input input[type="date"] {
    background-color: rgba(0, 0, 0, 0);
    color: #e89535;
}

.form-group-img{
    display: inline-block;
    height: 40px;
    width: 40px;
}

.form-group-img img{
    width: 100%;
    height: 100%;
}

.col-sm-10 label{
    padding-left: 10px;
}

.btn:focus {
    outline: none !important;
    outline-offset: 0px;
}

.footer{
    background-color: black;
}

.custom-col-img{
    height: 40px;
    width: 20%;
}

.custom-col-img-height{
    height: 87px;
}  

.height{
    height: 499px;
}
.big-padding{
    padding: 160px 0px 76px;
}
